video{
     position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;   /* Makes video cover entire screen */
    z-index: -1;
}

button{
    position: absolute;
   bottom: 20px;
   right: 20px;
   padding: 12px 18px;
   border: 1px solid #00000087;
   border-radius: 8px;
   opacity: 0.5;
   background-color: rgb(135,206,235);
   color: rgb(0, 0, 0);
   font-size: 16px;
   cursor: pointer;

}
@media (max-width: 1024px) {
    video {
        object-fit: cover;
    }

    button {
        bottom: 15px;
        right: 15px;
        padding: 10px 14px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    button {
        bottom: 10px;
        right: 10px;
        font-size: 12px;
        padding: 8px 12px;
    }
}
