/* *{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(vintage-grunge-blue-marble-background.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 20px;
    background-color: #f4f7fa;
}
h1{
    color: #FFFFFF;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

#getTask{
    width:185px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 20px;
    color: #151719;
    font-size: 20px;
}

#descript{
    width: 190px;
    height: 70px;
    border-radius: 5px;
    color: #151719;
    font-size: 20px;
}
#choice{
    right: 20px;
    margin-top: 20px;
   border: 1px solid #00000087;
   border-radius: 10px;
   background-color: rgb(226, 229, 231);
   color: #151719;
   font-size: 16px;
   font-weight: bolder;
   width:150px;
   height: 30px;
}

#date{
     margin-right: 25px;
     margin-top: 15px;
    position: absolute;
    right: 20px;
   padding: 10px 10px 10px 10px;
   border: 1px solid #00000087;
   border-radius: 15px;
   background-color: rgb(226, 229, 231);
   color: #151719;
   font-size: 20px;
   width:150px;
   height: 15px;
}

.task-card{
    align-items: center;
}

.t-head{
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 200px;
    text-align: center;
    color: rgb(251, 251, 251);
    margin-top: 10px;
}
.search{
    margin-right: 20px;
    position: absolute;
    right: 20px;
   padding: 10px 10px 10px 10px;
   border: 1px solid #00000087;
   border-radius: 30px;
   background-color: rgb(135,206,235);
   opacity: 0.4;
   color: rgb(0, 0, 0);
   font-size: 16px;
   width:300px;
   height: 30px;
   justify-content: stretch;
   justify-items: stretch;
   align-items: stretch;
}
#search{
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
}

#search_btn{
    position: relative;
    margin-left: 30px;
    padding-right: 0px;
    border: 1px solid black;
    background-color: black;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-size: 25px;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
}
.task_head{
    font-size: 35px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 400px;
    margin-left: 550px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: rgb(251, 251, 251);

}

table{
    font-size: 20px;
    text-align: center;
    width: 100%;
    justify-items: stretch;
    align-items: stretch;
    background-color: black;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(251, 251, 251);
    margin-top: 10px;
}

#tableBody{
    background-color: rgb(135,207,235);
    color: #000000;
    font-size: 25px;
}

fieldset{
    border-radius: 10px;
    background-color: rgb(135,207,235);
    opacity: 0.4;
    margin-top:80px; 
    height: 1000px;
    width: 100%;
    position: relative;
    height: max-content;
}
.btnStyle{
    background-color: rgb(4, 248, 4);
    color: #000000;
    width: 70px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.containers{
    display: flex;
    flex-direction: column;

}
.lb{
    display: flex;

}




.save{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 12px 18px;
    border: 1px solid #ffffff87;
    opacity: 0.6;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(243, 241, 241);
    font-size: 16px;
    cursor: pointer;
} */
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(vintage-grunge-blue-marble-background.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 20px;
    background-color: #f4f7fa;
}
h1{
    color: #FFFFFF;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

#getTask{
    width:185px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 20px;
    color: #151719;
    font-size: 20px;
}

#descript{
    width: 190px;
    height: 70px;
    border-radius: 5px;
    color: #151719;
    font-size: 20px;
}
#choice{
    right: 20px;
    margin-top: 20px;
   border: 1px solid #00000087;
   border-radius: 10px;
   background-color: rgb(226, 229, 231);
   color: #151719;
   font-size: 16px;
   font-weight: bolder;
   width:150px;
   height: 30px;
}

#date{
     margin-right: 25px;
     margin-top: 15px;
    position: absolute;
    right: 20px;
   padding: 10px 10px 10px 10px;
   border: 1px solid #00000087;
   border-radius: 15px;
   background-color: rgb(226, 229, 231);
   color: #151719;
   font-size: 20px;
   width:150px;
   height: 15px;
}

.task-card{
    align-items: center;
}

.t-head{
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 200px;
    text-align: center;
    color: rgb(251, 251, 251);
    margin-top: 10px;
}
.search{
    margin-right: 20px;
    position: absolute;
    right: 20px;
   padding: 10px 10px 10px 10px;
   border: 1px solid #00000087;
   border-radius: 30px;
   background-color: rgb(135,206,235);
   opacity: 0.4;
   color: rgb(0, 0, 0);
   font-size: 16px;
   width:300px;
   height: 30px;
   justify-content: stretch;
   justify-items: stretch;
   align-items: stretch;
}
#search{
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
}

#search_btn{
    position: relative;
    margin-left: 30px;
    padding-right: 0px;
    border: 1px solid black;
    background-color: black;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-size: 25px;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
}
.task_head{
    font-size: 35px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 400px;
    margin-left: 550px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: rgb(251, 251, 251);

}

table{
    font-size: 20px;
    text-align: center;
    width: 100%;
    justify-items: stretch;
    align-items: stretch;
    background-color: black;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(251, 251, 251);
    margin-top: 10px;
}

#tableBody{
    background-color: rgb(135,207,235);
    color: #000000;
    font-size: 25px;
}

fieldset{
    border-radius: 10px;
    background-color: rgb(135,207,235);
    opacity: 0.4;
    margin-top:80px; 
    height: 1000px;
    width: 100%;
    position: relative;
    height: max-content;
}
.btnStyle{
    background-color: rgb(4, 248, 4);
    color: #000000;
    width: 70px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.conatiners{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}


.save{
    align-self: flex-end;   /* moves to right */
    margin-top: auto;       /* pushes to bottom */
    margin-bottom: 20px;
    margin-right: 20px;
    
    padding: 12px 18px;
    border: 1px solid #ffffff87;
    opacity: 0.6;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(243, 241, 241);
    font-size: 16px;
    cursor: pointer;
}
.savebtn{
   margin-top: 20px;
    display: flex;
    flex-direction: column;
}
