*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(istockphoto-514419542-612x612.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.main{
    background: rgb(135,206,235);
    position: relative;
    opacity: 0.5;
    width: 350px;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    margin-top: 170px;
    margin-left: 30px;
    margin-bottom: 150px;
}

.stat{
    font-size: 20px;
    font-weight: bold;
    color: rgba(242, 5, 5, 0.801);
    margin-top: 10px;
}

.lable{
    position: relative;
    text-align: center;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.636);
    padding-top: 10px;
    margin-top: 30px;
}

.otp{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border:1px solid rgba(0, 0, 0, 0.084);
    opacity: 0.4;
    font-size: 25px;
    background-color: aliceblue;
    color: #000000;
    text-align: center;
    margin-top: 30px;
}

.btn{
    position: absolute;
   bottom: 20px;
   right: 20px;
   padding: 12px 18px;
   border: 1px solid #00000087;
   border-radius: 8px;
   background-color: rgb(135,206,235);
   color: rgb(0, 0, 0);
   font-size: 16px;
   cursor: pointer;
  
}

